<h1>予約済みルーム一覧</h1>

<table>
    <thead>
        <th>
            <tr>ルーム画像</tr>
        </th>
        <th>
            <tr>ルーム名</tr>
        </th>
        <th>
            <tr>ルーム紹介</tr>
        </th>
        <th>
            <tr>合計料金</tr>
        </th>
        <th>
            <tr>開始日</tr>
        </th>
        <th>
            <tr>終了日</tr>
        </th>
        <th>
            <tr>予約確定日時</tr>
        </th>
    </thead>
    <tbody>
        <% @users.reservations.each do |reservation| %>
            <tr>
                <td><img src="<%= reservation.room.room_image %>" alt="" class="table-image"></td>
                <td><%= reservation.room.name %></td>
                <td><%= reservation.room.introduction %></td>
                <td><%= reservation.cost %></td>
                <td><%= reservation.start %></td>
                <td><%= reservation.finish %></td>
                <td><%= reservation.created_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>

